In [1]:
import pandas as pd

df = pd.read_csv('data/cbb.csv')

/var/folders/lk/bz0ltz_x4mschppl7f29_d5w0000gn/T/ipykernel_91847/2126711205.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [1]:
import os
print(os.listdir('data'))

['cbb20.csv', 'cbb21.csv', 'cbb23.csv', 'cbb22.csv', 'cbb19.csv', 'cbb18.csv', 'cbb15.csv', 'cbb14.csv', 'cbb16.csv', 'cbb17.csv', 'cbb13.csv', 'cbb.csv']

In [2]:
path = 'data'

In [12]:
def read_to_one_frame(path) -> pd.DataFrame:
    """Reads all csv files in a directory and concatenates them into a single DataFrame"""
    df = pd.DataFrame()
    for file in os.listdir(path):
        file = os.path.join(path, file)
        if file.endswith('.csv'):
            df = pd.concat([df, pd.read_csv(file)])
    return df

In [13]:
df = read_to_one_frame(path)

,RK,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,...,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,EFGD_D,YEAR
0,1.0,Kansas,B12,30,28,116.1,87.7,0.9616,53.7,43.7,...,54.9,42.4,34.1,30.5,67.4,10.8,NaN,NaN,NaN,NaN
1,2.0,Baylor,B12,30,26,114.5,88.4,0.9513,49.4,45.2,...,47.5,44.4,35.1,31.1,66.2,8.5,NaN,NaN,NaN,NaN
2,3.0,Gonzaga,WCC,33,31,121.3,94.3,0.9472,57.5,47.6,...,57.4,47.4,38.6,32.0,72.0,7.7,NaN,NaN,NaN,NaN
3,4.0,Dayton,A10,31,29,119.5,93.4,0.9445,59.7,46.6,...,62.3,45.1,37.1,33.0,67.5,6.8,NaN,NaN,NaN,NaN
4,5.0,Michigan St.,B10,31,22,114.8,91.3,0.9326,52.6,43.3,...,52.9,43.4,34.8,28.7,69.3,5.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3518,NaN,Toledo,MAC,34,27,119.9,109.6,0.7369,56.3,52.9,...,54.6,52.1,39.7,36.1,69.5,-1.2,NaN,NaN,NaN,2023.0
3519,NaN,Liberty,ASun,33,27,111.4,97.3,0.8246,55.5,49.3,...,56.4,48.6,36.4,33.6,64.4,-2.0,NaN,NaN,NaN,2023.0
3520,NaN,Utah Valley,WAC,34,28,107.1,94.6,0.8065,51.7,44.0,...,52.5,42.8,33.4,31.1,69.8,-0.3,NaN,NaN,NaN,2023.0
3521,NaN,UAB,CUSA,38,29,112.4,97.0,0.8453,50.3,47.3,...,48.8,47.2,35.6,31.6,70.7,-0.5,NaN,NaN,NaN,2023.0
3522,NaN,North Texas,CUSA,36,31,110.0,93.8,0.8622,51.2,44.5,...,49.6,44.2,35.7,30.1,58.7,1.1,NaN,NaN,NaN,2023.0