In [1]:
import pandas as pd
import sys

sys.path.append('../')
from ncaa_mod import cleaning as c

In [15]:
import os

In [2]:
df = c.read_and_clean('data')

In [4]:
df.iloc[:, 4:-6]

,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T
0,118.1,91.1,0.9521,54.9,44.9,16.3,15.1,29.4,24.8,28.9,24.5,53.3,42.3,38.7,33.5,66.9
0,118.1,91.1,0.9521,54.9,44.9,16.3,15.1,29.4,24.8,28.9,24.5,53.3,42.3,38.7,33.5,66.9
0,118.1,91.1,0.9521,54.9,44.9,16.3,15.1,29.4,24.8,28.9,24.5,53.3,42.3,38.7,33.5,66.9
0,118.1,91.1,0.9521,54.9,44.9,16.3,15.1,29.4,24.8,28.9,24.5,53.3,42.3,38.7,33.5,66.9
0,118.1,91.1,0.9521,54.9,44.9,16.3,15.1,29.4,24.8,28.9,24.5,53.3,42.3,38.7,33.5,66.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,97.3,107.5,0.2416,45.3,51.0,16.5,19.1,30.7,33.0,24.5,36.6,44.5,49.5,31.2,35.8,61.1
346,97.3,107.5,0.2416,45.3,51.0,16.5,19.1,30.7,33.0,24.5,36.6,44.5,49.5,31.2,35.8,61.1
346,97.3,107.5,0.2416,45.3,51.0,16.5,19.1,30.7,33.0,24.5,36.6,44.5,49.5,31.2,35.8,61.1
346,97.3,107.5,0.2416,45.3,51.0,16.5,19.1,30.7,33.0,24.5,36.6,44.5,49.5,31.2,35.8,61.1
346,97.3,107.5,0.2416,45.3,51.0,16.5,19.1,30.7,33.0,24.5,36.6,44.5,49.5,31.2,35.8,61.1

In [39]:
def read_to_one_frame(path) -> pd.DataFrame:
    """Reads all csv files in a directory and concatenates them into a single DataFrame"""
    df = pd.DataFrame()
    for file in os.listdir(path):
        if not file.endswith('20.csv'):
            year = '20' + str(file[-6:-4])
            file = os.path.join(path, file)
            if file.endswith('.csv'):
                currYear = pd.read_csv(file)
                currYear['YEAR'] = year
                df = pd.concat([df, currYear])
    return df

In [18]:
import numpy as np

In [17]:
def encode_postseason(df: pd.DataFrame) -> pd.DataFrame:
    """Encodes postseason games as 1 and regular season games as 0"""
    rankings = {
        'Champions': 1,
        '2ND': 2,
        'F4': 3, 
        'E8': 4,
        'S16': 5,
        'R32': 6,
        'R64': 7,
        'R68': 8,
    }

    df['POSTSEASON'] = df['POSTSEASON'].map(rankings)
    return df