In [27]:
import pandas as pd
import requests
from urllib.request import urlopen
import scraping as s

In [28]:
df = s.join()

362
362

In [29]:
df[['W', 'L']] = df['RECORD'].str.split('-', expand=True)

In [30]:
df = df.reset_index()

In [26]:
pd.set_option('display.max_columns', None)
df

,TEAM,RK,CONF,RECORD,ADJOE,ADJDE,BARTHAG,WAB,ADJT,EFG_O,EFG_D,FTR,FTRD,ORB,DRB,TOR,TORD,3P_O,3P_D,2P_O,2P_D,W,L
0,Connecticut,1,BE,37-3,127.965556,91.271096,0.979889,11.237101,64.645916,56.9,44.4,31.9,31.1,36.7,26.7,14.5,16.0,35.8,31.2,59.1,43.2,37,3
1,Houston,2,B12,32-5,119.642151,86.480420,0.976632,9.953073,63.438837,50.3,44.0,30.8,39.4,36.8,31.2,13.8,24.4,34.8,30.1,49.2,43.1,32,5
2,Purdue,3,B10,34-5,126.019640,94.461318,0.964935,10.625122,67.107159,55.8,47.5,41.3,22.0,37.7,24.3,16.4,13.7,40.4,31.5,53.3,47.7,34,5
3,Auburn,4,SEC,27-8,121.011031,93.072294,0.953417,5.211274,69.972159,54.2,43.7,38.3,41.5,32.9,30.2,15.1,18.1,35.2,30.2,55.1,42.9,27,8
4,Iowa St.,5,B12,29-8,113.611714,87.668978,0.951709,6.274174,67.350583,52.0,47.4,35.4,34.8,31.1,29.4,15.4,25.3,35.8,31.5,51.2,47.4,29,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,VMI,358,SC,4-28,87.943119,110.818640,0.065445,-22.768895,74.802899,46.0,54.4,27.6,30.9,23.8,30.6,21.2,15.1,29.7,36.2,46.7,54.5,4,28
358,IUPUI,359,Horz,6-26,92.718024,117.159205,0.063526,-21.577228,67.423564,46.5,58.2,33.2,33.4,30.0,35.5,21.3,18.5,24.7,38.0,49.5,59.0,6,26
359,St. Francis PA,360,NEC,8-22,93.467555,118.121211,0.063440,-18.630824,65.577314,47.2,53.0,32.6,35.4,32.9,31.3,21.2,17.1,33.2,35.4,45.7,52.9,8,22
360,Coppin St.,361,MEAC,2-27,85.344914,111.305673,0.045038,-23.032171,66.424609,42.1,51.3,31.1,38.3,27.0,38.6,22.9,21.8,28.3,34.5,41.9,51.0,2,27
361,Mississippi Valley St.,362,SWAC,1-30,85.932392,115.871169,0.031142,-22.715916,64.638346,42.5,55.6,33.0,41.6,27.9,35.7,24.0,17.2,29.2,37.0,41.9,55.6,1,30

In [38]:
df.set_index('TEAM', inplace=True)

In [39]:
df.to_csv('/Users/isaacanderson/Desktop/CSE314/MarchMadness/data/ncaa2024')

AttributeError: 'Index' object has no attribute '_format_native_types'